.btn {
  &--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      color: #777;
    }
  }
}
