.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;

  &--transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  }

  &--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }

  &--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }
}
